:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d0c0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @keyframes fadeIn {
    from {
    opacity: 0;  
    }    
    to {
    opacity: 1;
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  margin: 0, 0;
}

.header {
  text-shadow:
		-1px -1px 0 #aa2eaf,
		1px -1px 0 #95309a,
		-1px 1px 0 #a03bda,
		1px 1px 0 #cb26d1;
  font-size: 56px;
  font-weight: 900;
  color: #570987;
  margin-top: 5%;
  border: 1px transparent;
  width: 550px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  transition: transform 0.3s ease-in-out;
  cursor: default;
}

.header:hover {
  transform: scale(1.1);
}